* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

header {
  display: flex;
  justify-content: center;
  color: #c0b283;
  background-color: #373737;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #373737;
  margin-bottom: 20px;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.radios {
  margin-bottom: 5px;
}

.search form input {
  align-content: center;
}

#searchText {
  display: block;
}

.search p {
  font-size: 18px;
}

fieldset {
  border: none;
}

.js-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
}

.searchResult {
  flex-basis: 22%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
  padding: 15px;
  background-color: #373737;
  color: #dcd0c0;
  border-radius: 5px;
  border: 2px solid #c0b283;
}

.searchResult img {
  width: 80%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.purchase {
  flex: 1;
  order: 1;
  text-align: center;
}

.scoop {
  flex: 2;
  order: 2;
  background-color: #c0b283;
  border: 2px solid #373737;
  border-radius: 5px;
  padding: 5px;
}

.scoop img {
  width: 80%;
}

.recommend {
  flex: 1;
  order: 3;
  text-align: center;
}

.recScroll {
  overflow: auto;
  height: 740px;
}

.recs {
  border: 2px solid #c0b283;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 10px;
  width: 70%;
}

.recommend h3 {
  position: relative;
  margin-bottom: 10px;
}

.currentSelection {
  text-align: center;
}

.currentSelection img {
  margin-bottom: 10px;
}

.viewTrailer {
  display: block;
  margin: auto;
}

.bestBuy {
  border: 2px solid #c0b283;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 70%;
}

.bestBuy img {
  width: 80%;
}

section h3 {
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border: none;
  height: 315px;
  width: 560px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  opacity: .0;
  text-align: center;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 40%;
  margin: -166px 0 0 -166px;
  padding: 10px;
  opacity: .0;
  display: none;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 0;
  margin-top: 3.5%;
  margin-left: 20px;
}

.smallPoster {
  width: 80%;
}

.viewRec {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ytSearch {
  font-size: 12px;
  color: white;
  display: block;
  margin: auto;
}

.ytSearch a {
  color: inherit;
}

.closeVideo {
  display: block;
  margin: auto;
}

.page {
  margin-left: 10px;
  background-color: #373737;
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #c0b283;
  color: #f4f4f4;
  border-radius: 5px;
}

.page h2 {
  font-size: 20px;
}
